<section class="phx-hero">
  <h1>Monoboly Deal!</h1>
  <p>The card game version of the classic Monoboly game.</p>
</section>

<section class="row">
  <article class="column">
    <!-- <h2>Start a new game</h2>
    <ul>
      <li>
       <a>New game</a>
      </li>
    </ul> -->
  </article>
</section>
