/* This file is for your main application css. */
@import "./phoenix.css";

.game-container {
  display: flex;
}

.hand-container {
  width: 95%;
}

.hand {
  display: flex;
  flex-wrap: wrap;
}

.card {
  height: 18rem;
  width: 12rem;
  border: 1px solid #000000;
  margin: 0.5rem;
  padding: 0.5rem;
}

.capitalize {
  text-transform: capitalize;
}